<!DOCTYPE html>
<html>
<head>
	<title>Home page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../publics/css/header.css">
    <!-- <link rel="stylesheet" href="../publics/css/w3.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<head>
    <title>Home page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../publics/css/home.css">
    <link rel="stylesheet" href="../publics/css/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<!-- design the top of the page -->
    <header class="header col-md-12" id ="header">
        <nav class="navbar navbar-static-stop top-nav top-nav_theme_elegant col-md-12" >
            <div id="nav-belt" class="col-md-12">
                <!-- Show logo -->
                <div class="col-md-2">
                    <div class="nav-logo">
                        <a href="/nav_logo" class="nav-logo-link" tabindex="6">
                            <img src="../publics/images/logo.png">
                        </a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="nav-fill">
                        <div id="nav-search">
                            <div class="nav-bar-left"></div>
                            <form accept-charset="utf-8" action="" class="nav-searchbar" method="GET" name="site-search" role="search">
                                <div class="nav-left" style="display: inline-block;">
                                    <div class="nav-search-scope nav-sprite">
                                        <select class="nav-search-dropdown searchSelect" data-nav-digest="nNneGCbvN9H9+U8w++7Pf+QYjbw" data-nav-selected="0" id="searchDropdownBox" name="url" tabindex="18" title="Search in">
                                            <option selected="selected" value="search-alias=aps">Tất cả</option>
                                            <option value="search-alias=vegetables">Rau</option>
                                            <option value="search-alias=fruits">Hoa quả</option>
                                            <option value="search-alias=meats">Thịt</option>
                                            <option value="search-alias=eggs">Trứng</option>
                                            <option value="search-alias=seafoods">Hải sản</option>
                                            <option value="search-alias=others">Loại khác</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="nav-fill" style="display: inline-block;">
                                    <div class="nav-search-field">
                                        <input type="text" id="twotabsearchtextbox" value name="field-keywords" autocomplete="off" class="nav-input" placeholder=" Tìm kiếm một sản phẩm ..." tabindex="19">
                                    </div>
                                </div>
                                <div class="nav-right" style="display: inline-block;">
                                    <div class="nav-search-submit nav-sprite">
                                        <button type="button" class="btn-search">
                                            <span class="glyphicon glyphicon-search"></span> Tìm
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="col-md-6">
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                    </div>
                    <div class="col-md-6">
                        <button style="magin-right:-100px" type="button" class="btn-signin">Đăng nhập</button>
                    </div>
                </div>
            </div>
            <!-- Set tab bar -->
            <div class="nav-bottom col-md-12">
                <div class="col-md-2"></div>
                <div class="col-md-7">
                    <ul class="nav nav-tabs">
                        <li role="presentation"><a href="./home.html">Trang chủ</a></li>
                        <li role="presentation" class="active"><a href="#">Giới thiệu</a></li>
                        <li role="presentation"><a href="#">Khuyến mại</a></li>
                        <li role="presentation"><a href="#">Đặc sản</a></li>
                        <li role="presentation"><a href="#">Liên hệ</a></li>
                        <li role="presentation"><a href="#">Hỗ trợ</a></li>
                    </ul>
                </div>
                <div class="col-md-3"></div>
            </div>
        </nav>
    </header>

</body>
</html>