/*body .header #nav-belt .nav-logo{
	width: 10%;
}

body .header #nav-belt .nav-fill{
	width: 16%;
}

body .header #nav-belt .nav-signin{
	width: 74%;
}
*/
body header{
	position: fixed;
    position: fixed!important;
    z-index: 10000;
    background-color: #228b22;
}

body .header .nav-logo img{
	height: 80px;
	/*width: 50%;*/
}

body .header #nav-belt .col-md-4 i{
	color: #eeeeee;
}

body .header #nav-belt .btn-signin,
body .header #nav-belt .btn-signup{
	display: inline-block;
	border-radius: 4px;
	border: none;
	
	font-weight: bold;
	font-size: 15px;
	text-align: center;
	background-color: #006400;
	color: white;
	width: 95px;
	height: 28px;

	position: relative;
	top: 25px;
	right: -50px;
}

body .header #nav-belt .col-md-4 i{
	font-size: 30px;
	width: 50px;
	position: relative;
	top: 25px;
	right: 15px;
}

body .header #nav-search{
	margin-top: 10px;
	height: 10px;
}

body .header #nav-search form{
	height: 50px;
	padding: 5px;
}

body .header #nav-search form .nav-left{
	zoom: 1;
	outline: none;
	margin: 0px;
	*display: inline;
	position: relative;
	right: -5px;
}

body .header #nav-search form .nav-fill{
	zoom: 1;
	outline: none;
	margin: 0px;
	*display: inline;
	width: 395px;
}

body .header #nav-search form .nav-right{
	zoom: 1;
	outline: none;
	margin: 0px;
	*display: inline;

	position: relative;
	top: 10px;

}

body .header #nav-search form .nav-right .btn-search{
	float: right;
	height: 30px;
	display: inline-block;
	border-radius: 0px 5px 5px 0px;

	font-weight: bold;
	font-size: 16px;
}

body .header #nav-search form .nav-fill input{
	height: 30px;
	width: 400px;
}







body .header #nav-search form .nav-left select{
	margin-top: 5px;
	margin-right: 0px;
	margin: 0px;
	height: 30px;

	font-size: 15px;
	font-family: sans-serif;
	border-radius: 5px 0px 0px 5px;
}

/*Set property for the bottom of header*/
body .header .nav-bottom{
	position: relative;
	top: 20px;
}

body .header .nav-bottom .col-md-7 ul{
	font-size: 110%;
	font-weight: bold;
	color: white;
}